@tailwind base;
@tailwind components;
@tailwind utilities;

.ini-sesion,
.header-portal {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(right, #4ebde2, #5473ff 100%);
  -webkit-background-clip: text;
}

.btn-gradient {
  background: -webkit-linear-gradient(right, #4ebde2, #5473ff 100%);
}

.qa::before {
  background: -webkit-linear-gradient(right, #4ebde2, #5473ff 100%);
}

.spinner-container {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
}

.acordeon-faq {
  max-width: 700px;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .btn-enviarForm {
    width: 90px;
  }

  .container-inicio {
    width: 100%;
    flex-wrap: wrap;
  }

  .txt-inicio {
    font-size: 1rem;
  }
}

@media (min-width: 200px) and (max-width: 472px) {
  .formPersona {
    margin: -3rem;
  }

  .campo {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  .campo textarea {
    height: 100px;
  }

  .container-personas {
    margin-right: -3rem;
    margin-left: -3rem;
  }

  .container-info-persona {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .saludo {
    margin-right: -2.5rem;
    margin-left: -2.5rem;
  }
}

@media (min-width: 200px) and (max-width: 639px) {
  .container-persona {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3rem;
    margin-left: -3rem;
  }

  .nombrePersona {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -5rem;
    margin-left: -5rem;
    font-size: 1.8rem;
  }

  .necesidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .completadaPor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-necesidad {
    display: flex;
    flex-wrap: wrap;
  }

  .asignacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5;
  }

  .asignacion button {
    margin-top: 1rem;
  }

  .container-asistente {
    margin-right: -2rem;
    margin-left: -2rem;
  }

  .crear-asistente {
    margin: auto;
  }

  .situacion {
    margin-right: -3rem;
    margin-left: -3rem;
  }

  .situacion .input {
    margin: 0 3rem 0 3rem;
  }

  .form-necesidad label {
    display: flex;
  }
}

@media (max-width: 767px) {
  .btn-buscarPersona {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .btn-necesidad {
    display: flex;
    flex-wrap: wrap;
  }
}